COMPOSE_PROJECT_NAME=harvester

LOG_LEVEL=DEBUG
HTTP_SERVER_READ_HEADER_TIMEOUT_SECOND=10
NUM_CONSUMER_WORKER=5

HTTP_SERVER_PORT=8080
DEBUG_SERVER_PORT=8084

KAFKA_BROKERS=kafka:9091
KAFKA_CURSOR_TOPIC=visora_mc
KAFKA_DIAL_TIMEOUT=3s
